{% extends 'base.html.twig' %}

{% block title %}Edit Profile{% endblock %}

{% block body %}
    <h1>Edit Profile</h1>

    {{ form_start(form) }}
        {{ form_row(form.email) }}
        {{ form_row(form.fullName) }}
        {{ form_row(form.location) }}
        {{ form_row(form.skills) }}
        {{ form_row(form.cvFilename) }}

        <button type="submit" class="btn">Save Changes</button>
    {{ form_end(form) }}

    <a href="{{ path('candidate_profile_show') }}">Back to Profile</a>
{% endblock %}

